{{organization-adder}}

{{#each model as |organization|}}
  <ul class="collection">
    <li class="collection-item">
      <div>{{organization.name}}<a href="#!" class="secondary-content">{{i-mdi icon='plus'}}</a></div>
    </li>
  </ul>
{{/each}}