<div class="protest">
  <div class="self-center index-box center-align">
    <p>
      <img src='assets/images/logo.png'>
    </p>
    <p>
      {{md-btn large=true action="signIn" icon="google" text="Login"}}
    </p>
  </div>
</div>