<div class="protest">
  <div class="self-center index-box center-align">
    <p>
      <img src='assets/images/logo.png'>
    </p>
    <p>
      <button class="btn-large waves-effect waves-light" {{action "signIn" "google"}}>
        Login
        {{i-mdi icon="google" class="right"}}
      </button>
    </p>
  </div>
</div>