<div class="protest">
  <div class="self-center index-box center-align">
    <p>
      <img src='assets/images/logo.png'>
    </p>
    <p>
      <button class="btn" {{action "signIn" "google"}}>
        <i class="material-icons right">launch</i>
        Google
      </button>
    </p>
  </div>
</div>