<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <p class="grey-text text-lighten-4">SmartClime Helps You Reduce Energy Consumption by 20%+</p>
      <p>
        <a href="https://www.facebook.com/smartclime/">Facebook</a>
        &nbsp;
        <a href="https://twitter.com/smartclime">Twitter</a>
      </p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">By Smartcool Connected</h5>
      <ul>
          <li>
            Test content
          </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  © {{year}} Smartclime
  <span class="grey-text text-lighten-4 right">
    <a href="#!">Privacy Policy</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="#!">Terms of Use</a>
  </span>
  </div>
</div>