<h4>{{model.name}}</h4>
<div class="divider"></div>
<div class="row">
  <div class="col s12 m12 l6">
    {{keen-query waitFor=model.devices filterName="device.hardwareId" filterValue=(map-by "hardwareId" model.devices) title="Last Month" timeframe="previous_1_months"}}
  </div>
  <div class="col s12 m12 l6">
    {{keen-query waitFor=model.devices filterName="device.hardwareId" filterValue=(map-by "hardwareId" model.devices) title="This Month To Date" timeframe="this_1_months"}}
  </div>
</div>
<div class="row">
  {{#each (sort-by "name" model.devices) as |device|}}
    {{device-card device=device}}
  {{/each}}
</div>