<div class="container">
  <p>
    BY CLICKING "ACCEPT" BELOW, YOU ARE REPRESENTING TO COMPANY THAT YOU HAVE FULLY READ AND UNDERSTAND ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT AND AGREE TO ABIDE BY ALL SUCH TERMS AND CONDITIONS.
  </p>
  {{md-btn text="Accept" action="accept" icon="check"}}
</div>